@font-face {
    font-family: 'BricolageGrotesque';
    src: url('/fonts/BricolageGrotesque.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'BricolageGrotesque', sans-serif;
    margin: 0 !important;
}