$maxContentWidth: 1420px;

$header-desktop-minheight: 96px;
$footer-desktop-minheight: 265px;


$bg-color: rgba(10, 1, 25, 1);
$link-hover-color: #a96eff;
$link-border-color: rgba(109, 77, 240, 0.6);
$btn-primary-bg: radial-gradient(81.37% 100% at 53.22% 100%, #b24ef0 0%, #6d4df0 100%);
$btn-shadow: 0 0 160px #6d4df0, inset 0 1px 1px rgba(255, 255, 255, 0.2);
$transition-duration: 0.7s;